.form_input{
    margin: 20px;
   cursor: pointer;
   border-radius: 10px;
   box-shadow: 20px 10px 10px 10px rgba(65, 63, 63, 0.5);
   width: 654px;
   border: none;
}
.inputTitle{
    border-radius: 10px 0 0 10px;
    padding: 10px;
    border: 1px solid silver;
    color: blue;
}
.inputPrice{
    
    padding: 10px;
    border: 1px solid silver;
    color: red;
}
.inputCount{
    background-color:white;
    padding: 10px;
    border: 1px solid silver;
    color: green;
}
.form_btn{
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    border: 1px solid silver;
}
.form_btn:active{
    color: red;
    transition: 20ms;
    background-color: white;
}